= f.simple_fields_for :student_profile do |student_profile_fields|
  = student_profile_fields.input :student_card, :as => :string
  = student_profile_fields.input :campus, :as => :select,
    :collection => StudentProfile::CAMPUS.collect{|c| [StudentProfile.human_attribute_name(c), c]}
  = student_profile_fields.input :grade
  = student_profile_fields.input :major
  = student_profile_fields.input :hometown