%tr
  %td= StudentProfile.human_attribute_name('student_card')
  %td= student_profile.student_card
%tr
  %td= StudentProfile.human_attribute_name('campus')
  %td= student_profile.campus
%tr
  %td= StudentProfile.human_attribute_name('grade')
  %td= student_profile.grade
%tr
  %td= StudentProfile.human_attribute_name('major')
  %td= student_profile.major
%tr
  %td= StudentProfile.human_attribute_name('hometown')
  %td= student_profile.hometown