%tr
  %td= JobProfile.human_attribute_name('address')
  %td= job_profile.address
%tr
  %td= JobProfile.human_attribute_name('stop_employ_at')
  %td= job_profile.stop_employ_at
%tr
  %td= JobProfile.human_attribute_name('start_work_at')
  %td= job_profile.start_work_at
%tr
  %td= JobProfile.human_attribute_name('amount')
  %td= job_profile.amount
%tr
  %td= JobProfile.human_attribute_name('description')
  %td= job_profile.description
%tr
  %td= JobProfile.human_attribute_name('sex')
  %td= JobProfile.human_attribute_name(job_profile.sex)
%tr
  %td= JobProfile.human_attribute_name('campus')
  %td= JobProfile.human_attribute_name(job_profile.campus)
%tr
  %td= JobProfile.human_attribute_name('grade')
  %td= job_profile.grade
%tr
  %td= JobProfile.human_attribute_name('major')
  %td= job_profile.major
%tr
  %td= JobProfile.human_attribute_name('hometown')
  %td= job_profile.hometown